@import url("https://use.typekit.net/lew0nfv.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: #54a88a;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.font-freight{
font-family: "freight-big-pro", serif;
font-weight: 400;
font-style: normal;
}

.font-freight-italic{
  font-family: "freight-big-pro", serif;
  font-weight: 400;
  font-style: italic;
}
