@import url("https://use.typekit.net/lew0nfv.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 84, 168, 138;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.text-green{
  color: #54A88A;
}

.text-dark-green{
  color: #4D7C0F;
}

.bg-green{
  background-color: #54A88A;
}

.bg-dark-green{
  background-color: #4D7C0F;
}

.ring-green{
  --tw-ring-color: #54A88A;
}

.focus\:ring-green:focus {
  --tw-ring-color: #54A88A;
 }

.hover\:text-green:hover{
  color: #54A88A;
}

.hover\:text-dark-green:hover{	
  color: #4D7C0F;
}

.font-freight{
font-family: "freight-big-pro", serif;
font-weight: 400;
font-style: normal;
}

.font-freight-italic{
  font-family: "freight-big-pro", serif;
  font-weight: 400;
  font-style: italic;
}

/* .image-project-left {
  object-fit: cover;
  width: 90vw;
  border-radius: 1.5em;
  transition: all 0.5s ease-in-out;
 }

 .image-project-left:hover {
  margin-top: -15px;
  margin-bottom: 15px;
 } */